/* style.css */

/* NAVBAR RESPONSIVENESS */
@media screen and (max-width: 570px) {
  .plant_clicker_logo img {
    width: 330px;
    height: auto;
  }
}

@media screen and (max-width: 400px) {
  .plant_clicker_logo img {
    width: 275px;
    height: auto;
  }
}



#game-container {
  text-align: center;
}

#score {
  margin-top: 20px;
  font-size: 24px;
}

#clicker {
  background: url('images/potted-plant.png') no-repeat center / contain;
  border: none;
  width: 300px; /* Adjust based on your image's aspect ratio */
  height: 300px; /* Adjust based on your image's aspect ratio */
  cursor: pointer;
}

@keyframes bounceWobble {
  0%, 100% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.2) rotate(5deg);
  }
  50% {
    transform: scale(1.2) rotate(0deg);
  }
  75% {
    transform: scale(1.2) rotate(-5deg);
  }
}

.bounceWobble {
  animation: bounceWobble 0.1s;
}

.power-up {
  position: absolute;
  width: 50px; /* Adjust based on the size of your PNG */
  height: 50px; /* Adjust based on the size of your PNG */
  cursor: pointer; /* Indicates clickable items */
}
